<h1>Sign Up</h1>
<% if @user.errors.any? %>
  <div id ="error_explanation">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg%></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for (@user) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign Up!" %>
  </div>
<% end %>
