<h2>Post list</h2>
<% @posts.each do |post| %>
  <p>
  <%= link_to post.title, url_link(post) %>
  by <%= post.user.name %>
  <%= link_to pluralize(post.comments.count, ' comment'), post %>
  <%= pluralize(post.votes_count, ' vote' )%>
  <%= link_to "upvote",  post_votes_path(post, upvote: true ), :method => :post %>
  |
  <%= link_to "downvote",  post_votes_path(post, upvote: false), :method => :post %>
  </p>

<% end %>
<% if logged_in? %>
  <%= link_to "Submit a Link", new_post_path %>
<% end %>
