<h2>Add new Post</h2>
<% if @post.errors.any? %>
  <div id ="error_explanation">
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg%></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for (@post) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :node_name %><br />
    <%= f.text_field :node_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
