<h3><%= link_to @post.title, @post.url %> </h3>
<p><%=  pluralize(@post.comments.count, ' comment') %> </p>
<ul>
<% @post.comments.each do |comment| %>
  <li> <%=  comment.content %> </li>
<% end %>
</ul>
<%= form_for @post.comments.new, :url => post_comments_path(@post) do |f| %>
  <%= f.text_area :content, :size => "60x12" %>
  <%= f.submit "Create" %>
<% end %>
